.addcut{
    position: absolute;
    right: 10PX;
    bottom: 10PX;
    .opeate_img{
        width: 28PX;
        height: 28PX;
    }
    .food_num{
        min-width: 26PX;
        height: 28PX;
        line-height: 28PX;
        font-size:14PX;
        display: inline-block;
        text-align: center;
        vertical-align: text-bottom;
    }
    .hide{
        display: none;
    }
}
