.head{
    .back{
        width:100%;
        height: 150PX;
        filter: blur(6PX);
    }
    .store{
        display: flex;
        flex-direction: row;
        margin-left: 20PX;
        margin-top: -100PX;
        .store_img{
            width: 80PX;
            height: 80PX;
            border-radius: 6PX;
            z-index: 2;
        }
        .store_text{
            z-index: 2;
            color:#FFFFFF;
            margin-left: 10PX;
            display: flex;
            flex-direction: column;
            font-size:12PX;
            justify-content: space-between;
            .title{
                font-size:18PX;
            }
            height:80PX;
            .tags_text{
                border:1PX solid greenyellow;
                padding: 2PX 4PX;
                font-size:12PX;
                border-radius: 8PX;
                margin-left: 10PX;
                
            }
        }
    }
}
