.top{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 2;
    height: 60PX;
    .img{
        width: 28PX;
        height:28PX;
    }
    .right{
        .img{
            margin-right:15PX ;
        }
    }
    .left{
        .img{
            margin-left:15PX ;
        }
    }
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
